/* common css starts here  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg_color);
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    margin: 0;
    padding: 0;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
}
a {
  color: var(--link_color);
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
:root {
  --bg_color: #000000;
  --hero_color: #87c232;
  --text_color: #ffffff;
  --link_color: #0000ff;
  --white_10prcnt: rgba(255, 255, 255, 0.1);
  --hero_50prcnt: rgba(134, 194, 50, 0.5);
  --hero_40prcnt: rgba(134, 194, 50, 0.4);
  --hero_10prcnt: rgba(134, 194, 50, 0.1);
  --heading_font: "Montserrat", sans-serif;
  --info_font: "Quicksand", sans-serif;
}
.l_btn {
  border: 1px solid var(--hero_color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--info_font);
  width: 200px;
  height: 55px;
  border-radius: 28px;
  cursor: pointer;
  background-color: var(--hero_color);
  transition: 0.5s;
  &:hover {
    background-color: transparent;
    color: var(--text_color);
    border: 1px solid var(--hero_color);
  }
}
/* common css ends here  */

/* header section css starts here  */
#header.fixed {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  padding: 15px 0;

  .left,
  .right {
    display: none;
  }
  .middle {
    background-color: #1a1a1a;
    border: 2px solid var(--hero_color);
    outline: 10px solid var(--bg_color);
  }
  .row {
    justify-content: center !important;
  }
}
#header {
  padding: 30px 0 30px;
  position: absolute;
  top: 0;
  width: 100%;
  transition: top 0.5s ease, position 0.5s ease;

  .left {
    .header_logo {
      width: 200px;
    }
  }
  .middle {
    background-color: var(--white_10prcnt);
    border-radius: 33px;
    padding: 20px 40px;
    .menu {
      display: flex;
      justify-content: space-between;
      li {
        color: var(--text_color);
        text-transform: capitalize;
        font-family: var(--info);
        font-weight: 600;
        font-size: 16px;
        transition: 0.5s;
        &:hover {
          color: var(--hero_color);
          cursor: pointer;
        }
      }
    }
  }
  .right {
    text-align: end;
  }
}
/* header section css ends here  */

/* banner section css starts here*/
#banner {
  margin-top: 172px;
  .left {
    .title {
      font-size: 16px;
      color: var(--text_color);
      font-family: var(--info_font);
      text-transform: capitalize;
      font-weight: 500;
    }
    .heading {
      color: var(--text_color);
      font-size: 68px;
      font-family: var(--heading_font);
      font-weight: 600;
      line-height: 86px;
      text-align: justify;
      span {
        color: var(--hero_color);
        display: block;
      }
    }
    .details {
      font-size: 18px;
      color: var(--text_color);
      font-family: var(--heading_font);
      text-transform: capitalize;
      font-weight: 400;
      text-align: justify;
      line-height: 28px;
      margin-bottom: 40px;
      span {
        color: var(--hero_color);
      }
    }
  }
  .right {
    text-align: end;
    height: 610px;
    .banner_img {
      height: 600px;
      border-right: 3px solid var(--hero_50prcnt);
      border-bottom: 3px solid var(--hero_50prcnt);
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      transition: 0.3s;
      &:hover {
        height: 610px;
        border-bottom: 3px solid var(--hero_color);
        border-right: 3px solid var(--hero_color);
      }
    }
  }
}
/* banner section css ends here*/

/* expertise section css starts here  */
#expertise {
  padding-top: 88px;
  margin-bottom: 150px;
  .top {
    border-top: 5px solid var(--hero_color);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 15px;
    font-family: var(--info_font);
    .left {
      .title {
        color: var(--hero_color);
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 12px;
      }
      .heading {
        font-size: 33px;
        font-weight: 800;
        color: var(--text_color);
        text-transform: capitalize;
        span {
          color: var(--hero_color);
        }
      }
    }
    .right {
      .info {
        text-align: justify;
        font-size: 17px;
        font-weight: 400;
        line-height: 26px;
        color: var(--text_color);
        margin-bottom: 30px;
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
  .middle {
    margin-bottom: 35px;
    .child {
      position: relative;
      background-color: var(--hero_50prcnt);
      height: 450px;
      padding: 20px;
      width: 312px;
      border-radius: 15px;
      .service_img {
        height: 216px;
        width: 272px;
        border-radius: 15px;
        margin-bottom: 15px;
      }
      .title {
        font-size: 29px;
        font-weight: 800;
        font-family: var(--info_font);
        color: var(--text_color);
        text-align: justify;
        margin-bottom: 2px;
      }
      .info {
        font-family: var(--heading_font);
        font-size: 14px;
        text-align: justify;
        color: var(--text_color);
        font-weight: 400;
        line-height: 20px;
      }
      .learn_more {
        position: absolute;
        background-color: white;
        bottom: 0;
        right: 0;
        outline: 6px solid var(--bg_color);
        z-index: 3;
        border-radius: 15px;
        border: 3px solid var(--text_color);
        &:before {
          content: "";
          position: absolute;
          bottom: 58px;
          right: -3px;
          height: 20px;
          width: 40px;
          background-color: transparent;
          box-shadow: 16px 6px var(--bg_color);
          border-bottom-right-radius: 15px;
          pointer-events: none;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: -29px;
          height: 40px;
          width: 20px;
          background-color: transparent;
          box-shadow: 6px 18px var(--bg_color);
          border-bottom-right-radius: 15px;
          pointer-events: none;
        }
        &:hover {
          background-color: var(--bg_color);
          border: 3px solid var(--hero_50prcnt);
          width: 75%;
        }
      }
    }
  }
  .bottom {
    .child {
      height: 185px;
      width: 180px;
      .inside {
        border-radius: 15px;
        border: 2px solid transparent;
        transition: all 0.3s linear;
        background-color: var(--hero_10prcnt);
        padding: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        i {
          transition: all linear 0.2s;
          font-size: 70px;
          color: rgba(255, 255, 255, 0.3);
          height: 72px;
        }
        .percent {
          color: var(--hero_40prcnt);
          transition: all linear 0.2s;
        }
        &:hover {
          border: 2px solid var(--hero_color);
          background-color: var(--hero_40prcnt);
          h2 {
            color: var(--hero_color);
          }
        }
        h2 {
          color: rgba(255, 255, 255, 0.3);
          font-family: var(--info_font);
          font-weight: 800;
          font-size: 40px;
        }
        &:hover {
          .child:nth-child(1) & i {
            color: #e34f26;
            font-size: 73px;
          }
          .child:nth-child(2) & i {
            color: #1572b6;
            font-size: 73px;
          }
          .child:nth-child(3) & i {
            color: #7952b3;
            font-size: 73px;
          }
          .child:nth-child(4) & i {
            color: #f7df1e;
            font-size: 73px;
          }
          .child:nth-child(5) & i {
            color: #ffffff;
            font-size: 73px;
          }
          .child:nth-child(6) & i {
            color: #61dafb;
            font-size: 73px;
          }
        }
      }
      h4 {
        color: var(--hero_color);
        text-transform: capitalize;
        font-family: var(--info_font);
        font-weight: 800;
        font-size: 22px;
        text-align: center;
        margin-top: 15px;
      }
    }
  }
}
/* expertise section css ends here  */

/* latest projects css starts here  */
#projects {
  .top {
    border-top: 5px solid var(--hero_color);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 50px;
    font-family: var(--info_font);
    .left {
      .title {
        color: var(--hero_color);
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 12px;
      }
      .heading {
        font-size: 30px;
        font-weight: 800;
        color: var(--text_color);
        text-transform: capitalize;
        span {
          color: var(--hero_color);
        }
      }
    }
    .right {
      .info {
        text-align: justify;
        font-size: 17px;
        font-weight: 400;
        line-height: 26px;
        color: var(--text_color);
        margin-bottom: 30px;
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
  .bottom {
    .heading_nd_img {
      margin-bottom: 20px;
      .title {
        span{
          color: var(--hero_color);
        }
        font-size: 18px;
        font-family: var(--info_font);
        color: var(--text_color);
        font-weight: 500px;
      }
      .heading{
        font-size: 41px;
        font-family: var(--info_font);
        font-weight: 600;
        color: var(--text_color);
        span{
          color: var(--hero_color);
        }
      }
      
    }
    .right {
      /* width: 760px; */
      /* height: 434px; */
      border-radius: 15px;
      img {
        width: 760px;
        height: 428px;
        border-radius: 15px;
      }
    }
    .info{
      text-align: justify;
      font-size: 16px;
      font-family: var(--info_font);
      font-weight: 400;
      color: var(--text_color);
      span{
        color: var(--hero_color);
      }
    }
  }
}
/* latest projects css ends here  */
