/* font-family: "Quicksand", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
/* font-family: "Montserrat", sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg_color);
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
a {
  color: var(--link_color);
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
  margin: 0;
}
:root {
  --bg_color: #000000;
  --hero_color: #87c232;
  --text_color: #ffffff;
  --link_color: #0000ff;
}

/* header section css starts here  */
#header {
  padding: 30px 0 60px;

  .left {
    height: 42px;
    .header_logo {
      width: 200px;
    }
  }
  .middle {
    height: 62px;
    .menu {
      display: flex;
      gap: 67px;
      justify-content: space-between;
      height: 100%;
      align-items: center;
    }
  }
  .right{
    height: 50px;
  }
}
/* header section css ends here  */
